<div class="panel panel-default">
  <h4 class="page-header" align="center">Lista Personas</h4>
  <div class="panel-body">
    <button class="btn btn-success fa fa-id-card-o" aria-hidden="true" ng-click="personaConsulta.mostrar_form_registro_persona()"> Registrar</button>
    <br>
    <br>
    <div ui-grid="personaConsulta.gridOptions" ui-grid-selection ui-grid-auto-fit-columns class="myGrid"></div>
  </div>

</div>

<div id="myModal" class="modal fade col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <div class="modal-header">
      <h4 align="center">Información de la Persona</h4>
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="personaConsulta.limpiar_persona();personaConsulta.cargarPersonas()">&times</button><br>
    </div>
    <div class="col-md-12">

      <br>
      <form class="form-horizontal">
        <fieldset>
          <!-- Text input-->
          <div class="form-group">
            <label class=" control-label" for="persona_nombre">Nombre</label>
            <div class="">
              <input id="persona_nombre" name="persona_nombre" ng-model="personaConsulta.detalle_persona.nombre" placeholder="Nombre de la persona" class="form-control" type="text" ng-disabled="!personaConsulta.modificar" required>

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="telefono_persona">Telefono</label>
            <div class="">
              <input id="telefono_persona" name="telefono_persona" ng-model="personaConsulta.detalle_persona.telefono" placeholder="Telefono" class="form-control" type="text" ng-disabled="!personaConsulta.modificar">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="tipo_doc">Tipo de Documento</label>
            <div class="">
              <input ng-hide="personaConsulta.modificar" id="tipo_doc" name="tipo_doc" ng-model="personaConsulta.detalle_persona.tipo_documento.nombre" placeholder="tipo de documento" class="form-control" type="text" ng-disabled="!personaConsulta.modificar">
              <select class="form-control" ng-show="personaConsulta.modificar" ng-focus="personaConsulta.cargarTipoDocumento()" ng-options="item as item.nombre for item in personaConsulta.tiposdocumento track by item.id" ng-model="personaConsulta.tipoDocumentoSel">

              </select>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="num_documento">Documento No.</label>
            <div class="">
              <input id="num_documento" name="num_documento" ng-model="personaConsulta.detalle_persona.num_documento" placeholder="Número de Documento" class="form-control" type="text" ng-disabled="!personaConsulta.modificar" required>

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="tipo_persona">Tipo de Persona</label>
            <div class="">
              <input ng-hide="personaConsulta.modificar" id="tipo_persona" name="tipo_persona" ng-model="personaConsulta.detalle_persona.tipo_persona.nombre" placeholder="Tipo de Persona" class="form-control" type="text" ng-disabled="!personaConsulta.modificar">
              <select class="form-control" ng-show="personaConsulta.modificar" ng-focus="personaConsulta.cargarTipoPersona()" ng-options="item as item.nombre for item in personaConsulta.tipospersona track by item.id" ng-model="personaConsulta.tipoPersonaSel">

              </select>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="mail">e-mail</label>
            <div class="">
              <input id="mail" name="mail" ng-model="personaConsulta.detalle_persona.mail" placeholder="correo electronico" class="form-control" type="text" ng-disabled="!personaConsulta.modificar">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group" align="center" >
            <label class="col-md-4 control-label"></label>
            <div class="col-md-5">
              <button class="btn btn-success" ng-show="personaConsulta.modificar && !personaConsulta.editar" ng-click="personaConsulta.registrar_persona()">Registrar</button>
              <button class="btn btn-success" ng-show="personaConsulta.modificar && personaConsulta.editar" ng-click="personaConsulta.actualizar_persona()">Actualizar</button>
              <button class="btn btn-danger" ng-show="personaConsulta.modificar" ng-click="personaConsulta.limpiar_persona()">Cancelar</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
